<!DOCTYPE html5>
<html>
  <head>
    <meta charset="utf-8">
    <title>{page.title}</title>
    <style media="screen">
      *{
        padding: 0;
        margin: 0;
      }
      h1{
        padding-left: 10px;
      }
      nav{
        border-bottom: 1px solid black;
      }
      aside{
        position: relative;
        display: grid;
        border: 1px solid black;
        border-right: none;
        float: right;
        margin-left:10px;
      }
      footer{
        position: absolute;
        bottom: 0;
        right: 0;
      }
    </style>
  </head>
  <body>
    <header>
      <nav>
        {page.menu}
      </nav>
      <h1>{page.title}</h1>
    </header>
    <aside>
      {page.aside}
    </aside>
    {page.content}
    <footer>
      {page.footer}
    </footer>
  </body>
</html>
